{{- /* pi config external. Build mode must not fetch user config into image layers. */ -}}
{{- if not .build_mode }}
[".local/share/pi-config"]
type = "git-repo"
url = "{{ .pi_config_url }}"
refreshPeriod = "0"
clone.args = ["--branch", "{{ .pi_config_ref }}", "--depth", "1"]
pull.args = ["--ff-only"]
{{- end }}

{{- /* nvim config external. Build mode must not fetch user config into image layers. */ -}}
{{- if not .build_mode }}
[".config/nvim"]
type = "git-repo"
url = "{{ .nvim_config_url }}"
refreshPeriod = "0"
clone.args = ["--branch", "{{ .nvim_config_ref }}", "--depth", "1"]
pull.args = ["--ff-only"]
{{- end }}
