# Copy this file to `.env` and replace env values
# SHELL env values
USERNAME=dev
# Bitwarden info
# These values are treated as `podman secrets`,
# with help of `Makefile`.
BW_CLIENTID=user.hoge
BW_SECRETPASS=secret_that_we_can_get_as_APIKEY
BW_MASTERPASS=your_master_password_of_bitwarden
